:root {
    --gray50: #656266;
    --gray100: #616161;
    --gray200: #322f33;
    --gray300: #1c181d;
    --fontLight: #e3e3e3;
    --fontMid: #616161;
    --fontDark: #475467;
    --S50: #ebebeb;
    --S100: #000000/7%;
    --S200: #ffffff/20%;
    --hover: #f7f7f7;
    --pressed: #f0f0f0;
    --focused: #005bd3;
    --white: #ffffff;
    --background: #f1f1f1;
    --hover-color: #f7f7f7;
    --pressed-color: #f0f0f0;
    --focused-color: #005bd3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid purple; */
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
    from {
        transform: rotate(0deg);
    }
}

@keyframes zoom-in-and-spin {
    to {
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
    from {
        transform: scale(0) rotate(270deg);
        opacity: 0;
    }
}

body {
    background-color: var(--background);
}

.hidden {
    display: none !important;
}

.nav {
    width: 100vw;
    height: 3.5rem;
    padding: 0rem 2rem;
    /* background-color: #000000; */
    background-color: var(--gray300);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
}

.nav-right {
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: all ease 2000ms;
    /* border: 1px solid red; */
}

.search-bar-group {
    position: relative;
    width: 480px;
    max-width: 480px;
    border-radius: 0.5rem;
    height: 2rem;
    border: 1px solid var(--S200);
    background-color: var(--gray200);
    flex-shrink: 0;
}

.search-bar-group:hover {
    border: 1px solid #e1e1e1 !important;
}

.search-bar-group:active {
    border: 2px solid #ffffff !important;
}

.search-bar-group:focus {
    border: 5px solid #a62929 !important;
}

.search-bar-group span {
    position: absolute;
    top: 25%;
    left: 0.5rem;
    cursor: text;
    /* z-index: 5; */
}

.search-bar-group input {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    padding-left: 2rem;
    background-color: inherit;
}

.search-bar-group input::placeholder {
    color: var(--gray100);
}

.nav-right button {
    background-color: var(--gray200);
    /* background-color: red; */
    margin: 0;
    padding: 0;
    /* background-color: inherit; */
    border: none;
    border-radius: 0.5rem;
    transition: all ease-in-out 400ms;
}

/* .nav-right button:hover .alert-dialog {
    display: none !important;
} */

.nav-right svg {
    /* background-color: var(--gray200); */
    background-color: inherit;
    border-radius: 0.5rem;
    height: 100%;
    width: 2rem;
    padding: 0.2rem;
}

.nav-right button:hover,
.nav-right div button:hover {
    background-color: var(--fontMid) !important;
    cursor: pointer !important;
}

.nav-right button:active,
.nav-right div button:active {
    background-color: var(--gray50) !important;
}

.nav-right button:focus,
.nav-right div button:focus{
    background-color: var(--gray50) !important;
    outline-color: var(--focused-color) !important;
    outline-offset: 1px !important;
    outline-width: 2px !important;
    outline-style: solid !important;
    /* box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000; */
}

.nav-right div {
    height: 2rem;
    display: flex;
    align-items: center;
    width: 142px;
}

.nav-right div button {
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    color: #e3e3e3;
    background-color: var(--gray200);
    /* padding: 0rem 0.2rem 0rem 0.5rem; */
    /* padding: 0 0.25rem; */
        padding: 2px 2px 2px 8px;
    border-radius: 0.5rem;
    border: none;
}

.short-name {
    background-color: #36fba1;
    height: 1.75rem;
    width: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray100);
    /* padding: 0.5rem; */
    border-radius: 0.5rem;
}

.big-no-show {
    display: none;
}

.top-menu {
    /* background-color: #005bd3; */
    position: absolute;
    background-color: var(--white);
    top: calc(3.5rem + 1rem);
    right: 2rem;
    width: 320px;
    border-radius: 0.5rem;
    padding: 6px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    width: 320px;
    /* height: 372px; */
    overflow: hidden;
    transition: all ease-in-out 1000ms;
    z-index: 1;
    /* display: none; */
}

.alert-dialog {
    position: absolute;
    background-color: var(--white);
    top: calc(3.5rem + 1rem);
    right: 2rem;
    width: 383px;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    /* width: 320px; */
    /* height: 384px; */
    z-index: 2;
    gap: 1rem;
    /* display: flex; */
    /* display: none; */
    flex-direction: column;
    overflow: hidden;
    transition: all ease 3000ms;
}

.alert-dialog div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alert-dialog > div > div {
    gap: 1rem;
} 

.alert-dialog > div > div > button {
    background-color: inherit;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 0.25rem;
}

.alert-dialog > div > div > button:focus {
    outline: 2px solid var(--focused-color) !important;
    outline-offset: 1px !important;
}

.alert-dialog > div:last-child {
    padding: 1rem;
    background-color: var(--hover-color);
    font-size: 13px;
    font-weight: 600;
}

.alert-dialog div span {
    color: var(--fontDark);
    font-size: 14px;
    font-weight: 600;
}

.top-menu ul {
    border-top: 1px solid #e3e3e3;
    /* margin: 0.5rem 0;
    padding-top: 0.5rem; */
    padding-left: 6px;
    padding-right: 6px;
    list-style: none;
}

.top-menu ul:first-child {
    margin: 0;
    border: none;
}

.funny-padding {
    /* padding: 4px 12px 4px 8px; */
}

.bold {
    font-weight: 600;
    background-color: var(--hover-color);
    border-radius: 0.5rem;
    /* color: red; */
}

.top-menu ul li {
    display: flex;
    justify-content: space-between;
    /* padding-right: 1rem; */
    min-height: 30px;
    font-weight: 400;
    font-size: 13px;
    margin: 1.5px 0;
    /* transition: all ease-in-out 4000ms; */
    /* padding: 0.5rem; */
}

/* .top-menu ul li:hover {
    background-color: var(--gray50);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bolder;
} */

.top-menu ul li:hover, .top-menu ul li button:hover {
    /* background-color: var(--gray50); */
    border-radius: 0.5rem !important;
    /* cursor: pointer; */
    font-weight: bold !important;
}

.top-menu ul li button {
    background-color: inherit;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    padding: 6px;
    padding-right: 1rem;
    border-radius: 0.5rem;
    transition: all ease-in-out 200ms;
}

.row-gap-10 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.row-gap-8 {
    display: flex;
    gap: 8px;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
}

*:has(.parent-text-left) {
    text-align: left !important;
}

.gap-10 {
    gap: 10px;
}

.gap-5 {
    gap: 5px;
}

.small-email {
    font-size: 12px;
    color: var(--gray100);
}

.top-menu ul li:hover {
    cursor: pointer !important;
    background-color: var(--hover-color) !important;
}

.top-menu ul li button:active {
    background-color: var(--pressed-color) !important;
}

.top-menu ul li button:focus {
    outline-color: var(--focused-color) !important;
    outline-style: solid !important;
    outline-width: 2px !important;
    /* border: 1px solid red; */
}

button:has(.checkmark) {
    display: flex !important;
    justify-content: space-between !important;
}

.vertical-center {
    align-items: center;
}

main {
    margin-top: 2rem;
    max-width: 800px;
    margin: 2rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

main > div:first-child {
    display: flex;
    height: 56px;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background-color: var(--gray300);
}

main > div:first-child span {
    font-size: 13px;
    color: var(--fontLight);
    font-weight: 500;
}

main > div:first-child div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

main > div:first-child div button {
    border-radius: 6px;
}

main > div:first-child div button:last-child:hover {
    /* background-color: var(--hover-color) !important; */
    background-color: #2a2a2a !important;
}

main > div:first-child div button:last-child:active {
    /* background-color: var(--hover-color) !important; */
    background-color: #2b2b2b !important;
}

main > div:first-child div button:focus {
    /* background-color: var(--hover-color) !important; */
    /* background-color: red; */
    outline: 1px solid var(--focused-color) !important;
    outline-offset: 2px !important;
}

main > div:first-child div button:first-child > a {
    color: var(--fontDark);
}
main > div:first-child div button:first-child {
    color: var(--fontDark);
    font-size: 0.75rem;
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
    font-weight: 600;
    background-color: var(--white);
}

main > div:first-child div button:first-child:active {}

main > div:first-child div button:first-child:hover, main > div:first-child div button:first-child:active {
    background-color: var(--hover-color);
}

main > div:first-child div button svg, main > div:first-child div button:last-child {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: inherit;
}

main > div:first-child div button:last-child svg {
    background-color: inherit;
}

main > div:first-child div button:last-child {
    border: none;
    background-color: inherit;
}

main > div:first-child > button {
    background-color: inherit;
    border: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    border-radius: 6px;
    /* background-color: red; */
    display: none;
}

/* main > div:first-child > button {
    display: none;
} */

main > div:first-child > button > svg {
    height: 20px;
    width: 20px;
}

button:hover {
    cursor: pointer !important;
}

main > div:last-child {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.constant-show {
    padding: 0.5rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.constant-show > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.constant-show > div:first-child > span:first-child {
    color: var(--fontDark);
    font-size: 14px;
    font-weight: 600;
}

.constant-show > div:first-child > span:last-child {
    font-size: 13px;
    color: var(--fontDark);
    font-weight: 500;
}

/* .constant-show > div:first-child {
    display: flex;
    justify-content: flex-start;
} */

.constant-show > div:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.constant-show > div:last-child > span {
    font-size: 0.75rem;
    color: var(--fontDark);
    /* color: red; */
    font-weight: 400;
}

.constant-show > div:last-child > progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 4.5rem;
    /* height: 0.75rem; */
    height: 8px;
    border: 1px solid #e3e3e3;
    /* background-color: yellow; */
    border-radius: 4rem;
    /* background-color: red; */
}

.constant-show > div:last-child > progress::-webkit-progress-value {
    background-color: #1A1A1A;
    border-radius: 4rem;
}

.constant-show > div:last-child > progress::-webkit-progress-bar {
    background-color: var(--fontLight);
    border-radius: 4rem;
}

.constant-show > button {
    background-color: inherit;
    border: none;
    position: absolute;
    right: 1rem;
    height: 28px;
    width: 28px;
    border-radius: 6px;
}

.constant-show > button:focus{
    /* background-color: var(--gray50); */
    outline-color: var(--focused-color) !important;
    outline-offset: 1px !important;
    outline-width: 2px !important;
    outline-style: solid !important;
    /* box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000; */
}

.not-shown .steps-show {
    display: none;
}

.not-shown .expand-now {
    display: inline;
    /* justify-content: center;
    align-items: center; */
}

.expand-now {
    display: none;
}

/* div:not(.not-shown) .expand-now {
    display: none;
} */

.not-shown .collapse-now {
    display: none;
}

div:has(.not-shown) > .steps-show {
    display: none !important;
}

.steps-show {
    /* display: none; */
    margin-top: 1rem;
    flex: 1;
    width: 100%;
    padding: 0.5rem;
}

.steps-show > .actual {
    width: 100%;
}

.active {
    background-color: var(--hover-color);
    padding-bottom: 0.75rem !important;
    border-radius: 18px;
}

.preview {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.preview button {
    border: none;
    background-color: inherit;
    height: 24px;
    border-radius: 0.5rem;
}

.spinner-check:focus {
    outline: 1px solid var(--focused-color) !important;
    outline-offset: 2px !important;
}

.spinner-check:focus .not-completed circle {
    /* outline: 1px solid var(--focused-color);
    outline-offset: 2px; */
    fill: #d9d9d9 !important;
    stroke-dasharray: 0 0 !important;
}

.spinner-check:hover .not-completed circle {
    /* outline: 1px solid var(--focused-color);
    outline-offset: 2px; */
    /* fill: #d9d9d9; */
    stroke-dasharray: 0 0 !important;
}

.loading, .completed {
    /* display: none; */
}

.loading {
    animation-duration: 1000ms;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.completed {
    animation: zoom-in-and-spin 500ms linear 0ms 1;
}

.preview span {
    color: var(--fontDark);
    font-size: 13px;
    font-weight: 500;
}

.active > .actual > .preview span {
    font-weight: 600 !important;
    /* color: red; */
}

.active > .actual > .content,
.active > img {
    display: flex !important;
}

.content {
    display: none;
    justify-content: space-between;
    align-items: flex-start;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem;
}

.section > img {
    width: 156.145px;
    height: 120px;
    display: none;
    /* padding: 0; */
    /* object-fit: contain; */
}

.brief {
    font-size: 13px;
    font-weight: 500;
    color: var(--fontMid);
    align-self: stretch;
    margin-right: 10px;
    padding: 1rem 0;
    /* line-height: 140%; */
    /* margin-left: 2rem; */
    /* border: 1px solid aquamarine; */
}

.writings {
    max-width: 483.85541px;
    width: 483.85541px;
    /* width: 550px; */
    margin-left: 2rem;
    width: 484px;
    /* border: 1px solid blue; */
}

a {
    text-decoration: none;
}

.action {
    padding: 6px 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--fontLight);
    border-radius: 6px;
    border-top: 1.5px solid var(--S100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--S100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--S100, rgba(255, 255, 255, 0.20));
    background: #404040;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}

img {
    /* border: 1px solid brown; */
}

@media (max-width: 600px) {
    .small-no-show {
        display: none;
    }

    .nav-right div {
        width: fit-content;
    }
    
    .nav-right div button {
        padding: 0rem;
        height: fit-content;
        background-color: inherit;
        border-radius: 0;
    }

    .nav-right svg {
        background-color: inherit;
        /* height: 3rem; */
    }

    .nav-right {
        gap: 0.3rem;
    }

    .search-bar-group {
        flex: 1;
        /* min-width: 278px; */
        /* max-width: 480px; */
    }

    .nav {
        padding: 0.5rem 1rem;
        gap:10px;
    }

    .search-bar-group span {
        top: 30%;
    }

    .big-no-show {
        display: block;
    }

    .top-menu {
        /* background-color: #005bd3; */
        position: absolute;
        top: calc(3.5rem + 0.5rem);
        right: 1rem;
    } 

    .alert-dialog {
        width: 358px;
        top: calc(3.5rem + 0.5rem);
        right: 1rem;
    }

    main > div:first-child {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        height: fit-content;
        border-radius: 0;
    }

    main > div:first-child div button:last-child {
        display: none;
    }

    main > div:first-child button {
        display: flex;
    }

    main > div:first-child span {
        margin-right: calc(1rem + 20px);
        /* color: red; */
        /* border: 1px solid blue; */
    }

    main > div:last-child {
        border-radius: 0;
    }
    
    .writings {
        max-width: 326px;
        width: 326px;
        /* width: 550px; */
        margin-left: 2rem;
        width: 484px;
        /* border: 1px solid blue; */
    }
    
    .section > img {
        display: none !important;
        /* padding: 0; */
        /* object-fit: contain; */
    }

    .active {
        border-radius: 10px;
    }
    
    /* .nav-right button {
        background-color: inherit;
        height: fit-content;
        border-radius: 0.5rem;
    } */
}